doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/mycss.css')
    link(rel='stylesheet', href='/stylesheets/page.css')
    script(src="/javascripts/jquery-3.3.1.slim.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="https://js.stripe.com/v2/")

  body
    block content
    include ./stripe/modal-stripe.jade
    script(src="/javascripts/page.js")
